.landpage{
    display: flex;
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.partedecima{
    display: flex;
        flex-direction: row;
        align-items:center ;
        justify-content:space-between;
        max-width:95%;
}
.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 24px;
    top: 8px;
}

.loginn{
   
    box-sizing: border-box;
    text-align: end;
    position: absolute;
    width: 69px;
    height: 30px;
    left: 780px;
    top: 30px;
    
    background: rgba(247, 203, 218, 0.33);
    border: 1px solid #F8C1D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}

.adm{
    box-sizing: border-box;

    position: absolute;
    width: 69px;
    height: 30px;
    left: 892px;
    top: 30px;

    background: rgba(247, 203, 218, 0.33);
    border: 1px solid #F8C1D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.dress{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 368px;
    top: 0.1em;

    font-family: 'IM FELL Great Primer';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #F3A1A1;
}

.hr{
    position: absolute;
    width: 1040px;
    height: 6px;
    left: 0px;
    top: 65px;

    background: #D9D9D9;
}

.maquina{
    position: absolute;
    width: 146px;
    height: 140px;
    left: 9px;
    top: 150px;
}

.tecido{
    position: absolute;
    width: 140px;
    height: 59.18px;
    left: 80px;
    top: 352px;
}


.titulo{
    position: absolute;
    width: 1043px;
    height: 25px;
  
    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 225px;    
    text-align: center;
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paragrafo{
    position: absolute;
    width: 482px;
    height: 130px;
    left: 299px;
    top: 153px;

    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}



.faixarosa{
    position: absolute;
    width: 1495px;
    height: 287px;
    left: 0px;
    top: 739px;

    background: rgba(255, 215, 215, 0.8);
}

.noiva{
    position: absolute;
    width: 400px;
    height: 330.99px;
    left: 730px;
    top: 200px;
}

.cadastre{
    position: absolute;
    width: 237px;
    height: 109px;
    left: 372px;
    top: 381px;

    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 58px;
    text-align: center;

    color: #000000;
}

.faixarosa{
    position: absolute;
    width: 1495px;
    height: 104px;
    left: 0px;
    top: 536px;

    background: rgba(255, 215, 215, 0.8);
 }


 

