.landpage{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.logo{
    width:100px;
    height:100px;
    top:17px;
    left: 48px;

}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFD7D7;
    border-radius: 1em;
}
.adm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFD7D7;
    border-radius: 1em;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFD7D7;
}

.noiva{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.faixarosa{
    position: absolute;
    width: 1495px;
    height: 287px;
    left: 0px;
    top: 739px;

    background: rgba(255, 215, 215, 0.8);
}