.logo{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 24px;
    top: 12px;
}

.quadrado{
    position: absolute;
    width: 1036.08px;
    height: 946.55px;
    left: 80px;
    

    background: rgba(255, 215, 215, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-89.84deg);
}

.h1{
    position: absolute;
    width: 636px;
    height: 80px;
    left: 280px;
    top: 46px;
    
    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    text-align: center;
    
    color: #000000;
}

.email{
    position: absolute;
    width: 100px;
    height: 58px;
    left: 469px;
    top: 202px;

    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.senha{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 469px;
    top: 331px;
    
    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
    
}

.botao{
    position: absolute;
    width: 94px;
    height: 32px;
    left: 515px;
    top: 530px;
    border-radius: 1em;
    background-color: #F8C1D3;
    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
    
}

.sair{
    position: absolute;
    width: 39px;
    height: 30px;
    left: 40px;
    top: 550px;

    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    text-align: center;

    color: #000000;
}
